:root {
  --color-hover: #ff6c00;
  --main-color: #ffffff;
  --title-item: #9da4bd;
  --color-text: #303030;
  --title-text-item: #555555;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-color);
}
/* nool */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
/* ==================mobile============== */
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen  and (max-width:1199px) { 
  .tel {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  }

header {
  padding-top: 40px;
  position: absolute;
  width: 100%;
}

.menu-btn {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
    background-color: #6ccae4;
  }
  .menu-btn {
    display: none;
  }
  .overlay {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .logo {
    margin-right: 70px;
  }
  .menu-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #ff6c00;
  }
  .menu-item {
    transition: transform 300ms ease;
  }
  .menu-item:hover {
    transform: scale(1.4);
  }
 .btn-tabl {
  padding: 12px 25px;
  border: 1px solid var(--color-hover);
  border-radius: 25px;
 
 }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    background-color: #6b7df0;
  }
  .header-nav {
    display: flex;
    align-items: center;
  
  }
  .menu {
    margin-right: auto;
  }
  
  .tel {
    margin-right: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel:hover,
  .tel:focus {
    color: #ff6c00;
  }
}
/* ====================mobile-menu================= */
@media screen and (max-width:767px) {
  .btn-tabl {
    display: none;
  }
  .menu {
display: none;
  }
 .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 74, 74, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
    transition: visibility 1000ms linear , opacity 1000ms linear;
    transform: scale(1) rotate(1turn);
    transition-property: transform;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--trans-function);
  }
  .overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
   
  } 
  
  .mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #fff;
    padding-left: 40px;
    padding-top: 118px;

  }
  


  .close-btn {
    position: absolute;
    top: 60px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    background-color: inherit;
    transition: transform 300ms linear;
    padding: 0;
  }
  .close-btn:hover {
  transform: rotate(180deg);
  }
  .menu-wrapp {
    display: flex;flex-direction: column;
    gap: 64px;
  }
  .menu-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
  
  }
  .mobile-nav  a {
    font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--color-text);
  transition: color 300ms linear ;
  
  }
  .mobile-nav a:hover {
     color: var(--color-hover);
  }
  
  .menu-tel {
  
    font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-text);
  }
  .menu-tel:hover {
    color :var(--color-hover);
  }
  .btn {
    margin-top: 24px;
    display: block;
  }
  .menu-soc-wrapp {
  display: flex;
  align-items: first baseline;
  
   
  }
  .menu-soc-wrapp::before {
  display: inline-block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: var(--color-text);
    margin-right: 40px;
    vertical-align: middle;
    
  
  
  }
  .menu-soc-wrapp a {
    font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: var(--color-text);
  }
  
}

/* ==================mobile-menu=========== */
/* =======================hero=================== */
@media screen and (min-width:300px)  and (max-width: 767px) {
  .hero-left-box {
    display: none;
  } 
  .hero {
    padding-top: 208px;
    padding-bottom: 183px;
    background-image: url(../images/mobile/hero.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
      background-image: url(../images/mobile/hero@2x.png);
    }
    }

}

.hero { 
   background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-item {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}
.text-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text-item::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
  vertical-align: middle;
}
.hero-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--main-color);
}
.hero-title-item {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--title-item);
}
@media screen and (min-width:768px) and (max-width:1199px) {
  .hero-right-box {
    padding-top: 272px;
    padding-bottom: 245px;
    padding-left: 120px;
    background-image: url(../images/tabl/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
   }
   .soc-wrapp {
    width: 120px;
    display: flex;
    align-items: end;
    padding-bottom: 40px;
    padding-left: 27px;
  }
 
  .hero-left-box {
    display: flex;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    align-items: center;
    gap: 40px;
  }
  .hero-left-box::before {
    content: "";
    width: 60px;
    height: 1px;
    background: #303030;
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (max-width: 1199px) {
  .hero-right-box {
    background-image: url(../images/tabl/hero@2x.jpg);
  }
}
  }
 
  
 
/* =================about================ */
.pad {
  padding-top: 84px;
  padding-bottom: 84px;
}
.about-item {
  margin-bottom: 20px;
  color: var(--color-text);
}
.about-title {
  margin-bottom: 20px;
  color: var(--color-text);
}
.title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.about-title-itrm {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--title-text-item);
}
.about-title-item-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--title-text-item);
}
.btn {
  padding: 12px 25px;
  border: 1px solid var(--color-hover);
  border-radius: 25px;
  background-color: var(--color-hover);
}

/* =================price================= */

.price {
  background-image: url(../images/mobile/price.png),
    linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price-item {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  margin-bottom: 20px;
  color: var(--main-color);
  margin-bottom: 44px;
}
.price-wrapper {
  margin-bottom: 50px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.price-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-list-text {
  font-size: 14px;
  line-height: 2.1;
  letter-spacing: 0.02em;
  color: var(--title-item);
}
.price-list-item {
  font-size: 14px;
  line-height: 2.1;
  text-align: right;
  letter-spacing: 0.02em;
  color: var(--title-item);
}
.btn-orange {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ==================why===================== */
.why-item {
  color: var(--color-text);
  margin-bottom: 20px;
}
.why-title {
  margin-bottom: 20px;
  color: var(--color-text);
}
.why-title-text {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--title-text-item);
}

.why-wrapper {
  display: flex;
  gap: 10px;
}
.why-first-wrapper,
.why-second-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.why-second-wrapper {
  margin-top: 35px;
}
.why-wrapp-list {
  background: #f7f7f7;
  padding: 20px 35px;
}
.list-item {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-text);
}
.list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--color-text);
}
@media screen and (max-width: 370px) {
  .list-item {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-text);
  }
  .list-text {
    font-weight: 600;
    font-size: 8px;
    line-height: 1.36;
    text-align: center;
    color: var(--color-text);
  }
}
/* =======================team================ */
.team-item {
  margin-bottom: 20px;
  color: var(--color-text);
}
.team-title {
  margin-bottom: 20px;
  color: var(--color-text);
}
.team-list-wrapp {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.name-item {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}
.soc-wrapp {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-color);
}

/* =======================gallary================ */
.gallary {
  padding-top: 84px;
  padding-bottom: 84px;
}

.gallary-item {
  color: var(--color-text);
  margin-bottom: 44px;
}
.gallary-wrapp {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* =======================footer======================= */


.online-wrapper {
  background: #191c26;
  padding-top: 84px;
  padding-bottom: 96px;

}

.form-title {
  text-align: center;
  margin-bottom: 44px;
  color: var(--main-color);
}
.form-wrap-container {

  display: flex;flex-direction: column;
  gap: 44px;
}
.label-wrapp {
  position: relative;
}

.form-input {
  width: 100%;
  height: 24px;
}
.online-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  transition: border-color 250ms ease-in;
  color: #ffffff;
}
.form-label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 250ms ease-in, transform 250ms ease-in;
}
.online-item:active,
.online-item:not(:placeholder-shown) {
  border-color: #ffffff;
}

.online-item:active + .form-label,
.online-item:not(:placeholder-shown) + .form-label {
  color: #ffffff;
  transform: translateY(-100%);
}
.online-item:active + .text-a,
.online-item:not(:placeholder-shown) + .text-a {
  color: #ffffff;
  transform: translateY(-100%);
}
.label-wrapp-text {
  width: 100%;
}
.online-textarea {
  width: 100%;
  resize: none;
}

.contact-wrapper {
  background-image: url(../images/mobile/footer.png) , linear-gradient(  #191c26,  #191c26);
  padding-top: 84px;
  padding-bottom: 84px;
}
.price-title {
  margin-bottom: 40px;
  text-align: center;
}
.address a {
  font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02em;
color: var(--title-item);
}
.address {
  margin-bottom: 44px;
}
.contacts-title:not(:last-child) {
  margin-bottom: 20px;

}

.address-icon {
  display: flex;gap: 16px;
}

.time {
  font-weight: 600;
font-size: 11px;
line-height: 15px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--main-color);
margin-bottom: 20px;
}
.time:before {
  display: inline-block;
  content: "";
  width: 60px;height: 1px;
  background: rgba(157, 164, 189, 0.4);
  margin-right: 20px;
  vertical-align: middle;
}
.working-time {
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02em;
color:var(--title-item);
}
.footer-soc {
  padding-top: 44px;padding-bottom: 44px;
 
}
.copyright {
  font-weight: 600;
font-size: 11px;
line-height: 15px;
letter-spacing: 0.2em;
color:var(--title-item);
display: flex;justify-content: flex-start;
gap: 6px;
}
.soc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.soc::before {
  content: '';
  width: 60px;height: 1px;
  background-color: var(--color-text);


}
.soc-net {
  font-weight: 600;
font-size: 11px;
line-height: 15px;
letter-spacing: 0.2em;
color: var(--color-text);
}
